.container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.images {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: white;
}

.image-container {
  background-color: darkblue;
  border-radius: 5%;
  width: 200px;
  height: 350px;
  color: white;
  display: flex;
  justify-content: center;
}

.button {
  color: white;
  background-color: #004687;
}
